<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card center" style="width: 20em;">
        <h2>Quienes Somos</h2>
        <div class="card-body">
          Somos una pagina web que adquiere sus datos (Titulos, descripciones, imagenes...) de una API REST de un tercero
           (https://api.themoviedb.org/3/movie/popular?api_key=81aca90227197885e3861bf1d2e1acd1&language=es-ES) 
          para optimizar todo el proceso de listado y tener siempre las ultimas tendencias actualizadas.
        </div>
      </div>
    </div>
  </div>
</div>
