<div class="somos">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card center" style="width: 30em;">
          <div class="targeta">
            <h1 class="titulo">Quienes Somos</h1>
            <div class="card-body">
              Somos una pagina web que adquiere sus datos (Titulos, descripciones, imagenes...) de una API REST de un
              tercero
              (<a href="https://api.themoviedb.org/3/movie/popular?api_key=81aca90227197885e3861bf1d2e1acd1&language=es-ES">Ver</a>)
              para optimizar todo el proceso de listado y tener siempre las ultimas tendencias actualizadas.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
