body .about {
  max-width: 500px;
  _width: 700px;
  padding: 30px 20px 50px;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
}
.container {
  max-width: 380px;
  width: 480px;
  margin: 0 auto;
}